@charset "utf-8";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up {
	width: 100%;
	position: fixed;           
    align-items: center;          
    justify-content: center;
    left: 0;
    right: 0;
    z-index: 1000;
    overflow: hidden;  
    white-space: nowrap;
}

.ticker__list {
    display: flex;
    animation: ticker 25s linear infinite; 
    margin: 0; 
    padding: 0;
	list-style-type: none;
}

.ticker__item {
    padding-right: 3vw;
	font-family: "Arial", sans-serif;
	font-size: 0.9rem;
}


@keyframes ticker {
    0% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(-154%);
    }
}

header {
    width: 100%;
    height: 7.5vh;
	background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    position: fixed;           
    align-items: center;          
    justify-content: center;
    top: 1.7vh;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
	font-weight: bold;
	font-family: "Arial", sans-serif;
}




#contenedor1 {
	width: 95vw;
	height: 100vh;
	margin-top: 2vh;
    background-color: #000000;
	overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: center; 
    color: white;
    text-align: center;
	font-family: "Arial", sans-serif;
	font-size: 18pt;
	position: relative;
}
.video-background {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1; 
    opacity: 0.7; 
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
	
}
.home-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px; 
    max-width: 1000px; 
	position: relative; 
    z-index: 2;
	
}

#contenedor2 {
	width: 95vw;
    height: 130vh;
    background-color: black;
	display: flex;
    flex-wrap: wrap;	
}
#article2-1 {
    width: 62vw;
    height: 70vh;
	float: left;
}
#article2-1 img {
	object-fit: cover;
}


#article2-2 {
    width: 33vw;
    height: 70vh;
	float: left;
    padding: 20px;
    background-color: #000;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6; 
    text-align: justify;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#article2-2 p {
    margin-bottom: 15px;
}

#article2-2 p:first-child {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #FFFFFF;
	margin-top: 7vh;
}

#article2-2 p:last-child {
    margin-bottom: 0;
}

#article2-3 {
    width: 95vw;
    height: 60vh;
	float: left;
	display: flex;
	align-items: center;
}	
#art2-3-1{
	width: 62vw;
	height: 60vh;
	display: flex;
    flex-direction: row;
}
#art2-3-1 .sub-section {
    flex: 1;
}
.sub-section #imgart3 {
	width: 100%; 
    height: 100%;
    object-fit: cover;
}
.sub-section #imgart4 {
	width: 100%; 
    height: 100%;
    object-fit: cover;
	display: flex;
	justify-content: center;
}
.sub-section #imgart5 {
	width: 100%; 
    height: 100%;
    object-fit: cover;	
}
#art2-3-2{
	width: 33vw;
	height: 60vh;
	background-color: black;
	display: flex;
    justify-content: center;
    align-items: center;
}


#contenedor3 {
	width: 95vw;
    height: 130vh;
	background-color: black;
	display: flex;
    flex-wrap: wrap;	
}
#article3-1 {
    width: 62vw;
    height: 70vh;
	float: left;
}

#article3-1 img {
	width: 100%;
    height: auto;
}

#article3-2 {
    width: 33vw;
    height: 70vh;
	float: left;
    padding: 20px;
    background-color: #000;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6; 
    text-align: justify;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#article3-2 p {
    margin-bottom: 15px;
}

#article3-2 p:first-child {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #FFFFFF;
	margin-top: 7vh;
}

#article3-2 p:last-child {
    margin-bottom: 0;
}

#article3-3 {
    width: 95vw;
    height: 60vh;
	float: left;
	display: flex;
	align-items: center;
}

#art3-3-1 {
    width: 62vw;
	height: 60vh;
	display: flex;
    flex-direction: row;
}

#art3-3-1 .sub-section3 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-section3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

#art3-3-2 {
    width: calc(95vw - 1220px);
    height: calc(130vh - 686.25px);
    background-color: black;
	display: flex;
    justify-content: center;
    align-items: center;
}
video {
    width: 100%;
    height: auto;
    object-fit:cover;
}


#contenedor4 {
	width: 95vw;
    height: 130vh;
    background-color: black;
	display: flex;
    flex-wrap: wrap;	
}
#article4-1 {
   width: 62vw;
    height: 70vh;
	float: left;
}
#article4-1 img {
	width: 100%; 
    height: auto;
}

#article4-2 {
    width: 33vw;
    height: 70vh;
	float: left;
    padding: 20px;
    background-color: #000;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6; 
    text-align: justify;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#article4-2 p {
    margin-bottom: 15px;
}

#article4-2 p:first-child {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #FFFFFF;
	margin-top: 7vh;
}

#article4-2 p:last-child {
    margin-bottom: 0;
}

#article4-3 {
    width: 95vw;
    height: 60vh;
	float: left;
	display: flex;
	align-items: center;
}

#art4-3-1 {
    width: 62vw;
	height: 60vh;
	display: flex;
    flex-direction: row;
}

#art4-3-1 .sub-section4 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-section4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

#art4-3-2 {
    width: calc(95vw - 1220px);
    height: calc(130vh - 686.25px);
    background-color: black;
	display: flex;
    justify-content: center;
    align-items: center;
}
video {
    width: 100%;
    height: auto;
    object-fit:cover;
}	

#contenedor5 {
	width: 95vw;
    height: 130vh;
	background-color: black;
	display: flex;
    flex-wrap: wrap;	
}
#article5-1 {
    width: 62vw;
    height: 70vh;
	float: left;
}
#article5-1 img {
	width: 100%; 
    height: auto;
}

#article5-2 {
   width: 33vw;
    height: 70vh;
	float: left;
    padding: 20px;
    background-color: #000;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6; 
    text-align: justify;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#article5-2 p {
    margin-bottom: 15px;
}

#article5-2 p:first-child {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #FFFFFF;
	margin-top: 7vh;
}

#article5-2 p:last-child {
    margin-bottom: 0;
}

#article5-3 {
    width: 95vw;
    height: 60vh;
	float: left;
	display: flex;
	align-items: center;
}

#art5-3-1 {
    width: 62vw;
	height: 60vh;
	display: flex;
    flex-direction: row;
}

#art5-3-1 .sub-section5 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-section5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

#art5-3-2 {
    width: calc(95vw - 1220px);
    height: calc(130vh - 686.25px);
    background-color: black;
	display: flex;
    justify-content: center;
    align-items: center;
}
video {
    width: 100%;
    height: auto;
    object-fit:cover;
}
#contenedor1 header nav {
    display: flex;
}

footer {
    width: 100%;
    height: 15vh;
    background-color: black;
    color: white;
	font-family: "Arial", sans-serif;
    padding: 20px;
    
}

.footer-content {
    max-width: 1800px; 
    margin: 0 auto; 
}

.social-media {
    margin: 10px 0; 
}

.social-media a {
    color: white; 
    margin: 5px; 
    text-decoration: none;
    transition: color 0.3s; 
}

.social-media a:hover {
    color: #FF0105; 
}

@media (max-width: 1000px) {
  #contenedor1,
  #contenedor2,
  #contenedor3,
  #contenedor4,
  #contenedor5 {
    width: 100vw; /* Reducir el ancho de los contenedores */
	float: left;
  }

  #article2-1,
  #article3-1,
  #article4-1,
  #article5-1 {
    width: 99vw;
	float: left;
  }

  #article2-2,
  #article3-2,
  #article4-2,
  #article5-2 {
    width: 99vw; /* Ajustar el ancho del artículo secundario */
	float: left;
  }

  #art3-1,
  #art4-3-1,
  #art5-3-1 {
    flex-direction: column; /* Apilar los elementos en vertical */
	display: none;
  }

  .sub-section,
  .sub-section3,
  .sub-section4,
  .sub-section5 {
    flex: 0 0 auto; /* Cambiar el tamaño de los elementos secundarios */
	display: none;
  }